.nav{
   
   margin: 5px;
}
.carousel-indicators {
   margin-left: 7%;
}
 
 .nav:hover {
    background: transparent;
    border-radius: 5px;
    text-decoration: underline;
    height:38px;
   
 }







 
.testimonials{
    width: 100%;
    margin:auto;
    padding-top: 60px;
  
    font-family: 'Poppins', sans-serif;
}
.testimonials-col{
    flex-basis: 18%;
    border-radius: 0px;
    margin-bottom: 7%;
    text-align: left;
    padding: 37px;
    margin-top: -91px;
    font-family: 'Poppins', sans-serif;
    margin-left: 68px;
   
}





